{% extends '_base.html' %}
{% load static %}

{% block content %}

<div id="Img_carousel" class="slider-pro">
		<div class="sp-slides">
			{% for img in room_photos %}
			<div class="sp-slide">
				<img alt="Image" class="sp-image" src="{% static 'css/images/blank.gif' %}" data-src="{{ img.image.url }}" data-small="{{ img.image.url }}" data-medium="{{ img.image.url }}" data-large="{{ img.image.url }}" data-retina="{{ img.image.url }}">
			</div>
			{% endfor %}
		</div>
		<div class="sp-thumbnails">
			{% for img in room_photos %}
				<img alt="Image" class="sp-thumbnail" src="{{ img.image.url }}">
			{% endfor %}
		</div>
</div>

<div class="product_image_area">
		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-6">
					<div class="owl-carousel owl-theme s_Product_carousel owl-loaded owl-drag">

						<!-- <div class="single-prd-item">
							<img class="img-fluid" src="img/category/s-p1.jpg" alt="">
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="img/category/s-p1.jpg" alt="">
						</div> -->
					<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1080px, 0px, 0px); transition: all 0s ease 0s; width: 2700px;"><div class="owl-item cloned" style="width: 540px;"><div class="single-prd-item">
							<img class="img-fluid" src="{{ room_photos.0.image.url }}" alt="">
						</div></div><div class="owl-item cloned" style="width: 540px;"><div class="single-prd-item">
							<img class="img-fluid" src="{{ room_photos.0.image.url }}" alt="">
						</div></div><div class="owl-item active" style="width: 540px;"><div class="single-prd-item">
							<img class="img-fluid" src="{{ room_photos.0.image.url }}" alt="">
						</div></div><div class="owl-item cloned" style="width: 540px;"><div class="single-prd-item">
							<img class="img-fluid" src="" alt="">
						</div></div><div class="owl-item cloned" style="width: 540px;"><div class="single-prd-item">
							<img class="img-fluid" src="" alt="">
						</div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"></div></div>
				</div>
				<div class="col-lg-5 offset-lg-1">
					<div class="s_product_text">
						<h3>{{ object.title }}</h3>
						<h2>{{ object.cost }}</h2>
						<ul class="list">
							<li><a class="active" href="#"><span>Category</span> : Household</a></li>
							<li><a href="#"><span>Availibility</span> : In Stock</a></li>
						</ul>
						<p>Mill Oil is an innovative oil filled radiator with the most modern technology. If you are looking for
							something that can make your interior look awesome, and at the same time give you the pleasant warm feeling
							during the winter.</p>
						<div class="product_count">
              <label for="qty">Quantity:</label>
              <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;" class="increase items-count" type="button"><i class="ti-angle-left"></i></button>
							<input type="text" name="qty" id="sst" size="2" maxlength="12" value="1" title="Quantity:" class="input-text qty">
							<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;" class="reduced items-count" type="button"><i class="ti-angle-right"></i></button>
							<a class="button primary-btn" href="#">Add to Cart</a>
						</div>
						<div class="card_area d-flex align-items-center">
							<a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
							<a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}